@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="=" width="device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Responses</title>
    </head>
    <body>
        <div class="panel-body">
            <h2>Here is the list of people attending the party</h2>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                </thead>
                <tbody>
                    @foreach (PartyInvites.Models.GuestResponse r in Model)
                    {
                        <tr>
                            <td>@r.Name</td>
                            <td>@r.Email</td>
                            <td>@r.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="navbar-link" asp-action="">back</a>
        </div>

        
    </body>
</html>
